@charset "UTF-8";

.menu {
	list-style: none;
	padding: 0;
	display: flex;
}

.menu > li {
	margin: 0 10px;
}

.board {
	border-collapse: collapse;
	font-size: 16px;	
}

.board th, .board td {
	border: 1px solid #aaaaaa;
	padding: 5px 10px;
}

.page {
	display: flex;
	justify-content: left;
	list-style: none;
	padding: 0;
}
.page > li {
	margin: 0 10px;
}